a{
	color:#fbe288;
	text-decoration: none;
}
a:hover {
	color: #ed9b51;
}
body {
	background:#10171d;
	height:100%;
	overflow:hidden;
	width:auto;
	margin:0px;
    font-family: Arial, Helvetica;
	font-style:normal;
    font-size:14px;
    color:#bed7c1;
	text-align:left;
	line-height:125%;
}
h1 {
	font-size:22px;
	color:#ed9b51;
}
h2 {
	font-size:18px;
}
h3 {
	font-size:16px;
}

h4 {
	font-size:14px;
}
#wrapper {
	min-width:960px;
	max-width:1280px;
	position:relative;
	height:100%;
}
#logo {
	cursor:pointer;
}

#tree {
	position:absolute;
	top:0px;
	right:860px;
}

#content {
	position:absolute;
	top:0px;
	right:15px;
	width:850px;
}

#navcol {
	padding:0px 10px;
	margin-top:15px;
	float:left;
	top:0px;
	right:830px;
	width:100px;
}

.nav{
	font-family: 'Britannic Bold', 'Poller One', Arial, Helvetica;
	font-size:20px;
	line-height:140%;
}

#sociallinks{
	margin-top:30px;
}
#panel_container {
	width:700px;
	height:800px;
	padding:0px 10px;
	float:left;
	overflow:hidden;
}

.panel{
    width:700px;
	height:800px;
	overflow:hidden;
}
#homeupdates {
	width:450px;
	height:100px;
	margin:15px auto 15px auto;
	text-align:center;
	padding:0px 15px 15px 15px;
	border:2px solid #bed7c1;
}

#welcomepic {
	margin-left:50px;
}

#aboutpic1 {
	float:left;
	padding:15px;
}

#memberspic1 {
	margin-left:auto;
	margin-right:auto;
}

#members_photo {
	position:relative;
}

.face {
	position:absolute;
	width:40px;
	height:40px;
	list-style-type:none;
}

.face:hover {
	border:1px solid rgba(100, 100, 100, 0.6);
}

#biophoto {
	float:left;
	margin-left:42px;
	margin-right:10px;
	border:2px solid white;
	display:none;
	width:115px;
	height:115px;
}

#bio {
	padding:5px 15px 15px 15px;
	font-size:13px;
}

#leslie {
	left:85px;
	top:54px;
}

#raph {
	left:135px;
	top:54px;
}

#gordon {
	left:213px;
	top:42px;
}

#jacob {
	left:258px;
	top:41px;
}

#cuchulain {
	left:301px;
	top:61px;
}

#wendy {
	left:367px;
	top:61px;
}

#tommy {
	left:376px;
	top:17px;
}

#ashley {
	left:430px;
	top:37px;
}

#olivia {
	left:470px;
	top:67px;
}

#jenner {
	left:489px;
	top:23px;
}

#greta {
	left:530px;
	top:48px;
}

#ben {
	left:150px;
	top:152px;
}

#hannah {
	left:221px;
	top:150px;
}

#abby {
	left:338px;
	top:191px;
}

#natey {
	left:423px;
	top:162px;
}

#lauren {
	left:500px;
	top:166px;
}

#musicpic1 {
	float:left;
	padding:20px;
}

#musicpic2 {
	float:right;
	padding:20px;
}

#contactlist {
	list-style-type:none;
}

#contactlist li {
	clear:left;
}

.contactpic {
	float:left;
	margin-right:15px;
	margin-bottom:15px;
	border:2px solid white;
	clear:left;
}

.contactinfo {
	font-size:;
	color:;
}



